**/node_modules
**/.env
**/.env.*
!**/.env.example
.git
.gitignore
**/coverage
**/test
**/*.test.js
**/logs
**/*.log
db_backup
docker-compose.yml
Architecture_designs(LLD)
Readme.md
**/.DS_Store
**/Thumbs.db
**/.vscode
**/.idea
**/dist
**/build
